<section id="{{ section.section_id }}" class="page-section-smaller">

  <div class="container">
  {% for qa in section.questions %}

    <div class="row justify-content-left">
      <div class="ml-6 mb-0 ">
       <h3> {{ qa.question | newline_to_br | markdownify }}<h3>
      </div>
    </div>
    <div class="row justify-content-left">
      <div class="ml-8 mb-4 {{ section.text_style | default: 'text-muted' }}">
        {{ qa.answer | newline_to_br | markdownify }}
      </div>
    </div>
      {% endfor %}

  </div>
</section>
