<!-----Fellows Template
This is a custom template to display the fellows information. Include in main templates using the following format

 - type: fellows.html
    section_id: fellows 
    title: Trainees
    background_style: bg-info text-white
    fellows:
      - title: [Fellow 1 Name]
        bio: [Fellow 1 Biography]
        image: [Path to Fellow 1 headshot]
      - title: [Fellow 2 Name]
        bio: [Fellow 2 Biography]
        image: [Path to Fellow 2 headshot]

  --->
<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="Fellow2023-tab" data-toggle="tab" href="#Fellow2023" role="tab" aria-controls="Fellow2023" aria-selected="true">2023 Cohort</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">2022 Cohort</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">2021 Cohort</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="Fellow2023" role="tabpanel" aria-labelledby="Fellow2023-tab">
        {% for fellows in section.fellows2023 %}
        <div class="row h-100">
          <div class="col-md-4 text-center">
            <div class="member-box">
              <img class="img-fluid" src="{{ fellows.image }}" style="height:200px width:200px"/>
              <h3 class="h4 mb-2 mt-2">{{ fellows.title | newline_to_br | markdownify }}</h3>   
          </div>
        </div>
          <div class="my-auto col-sm-8 align-middle">
              <br>
              <p> {{ fellows.bio | newline_to_br | markdownify }} </p>
          </div>
        </div>
        <br>
      {% endfor %}    
      </div>

      <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
        {% for fellows in section.fellows2022 %}
        <div class="row h-100">
          <div class="col-md-4 text-center">
            <div class="member-box">
              <img class="img-fluid" src="{{ fellows.image }}" style="height:200px width:200px"/>
              <h3 class="h4 mb-2 mt-2">{{ fellows.title | newline_to_br | markdownify }}</h3>   
          </div>
        </div>
          <div class="my-auto col-sm-8 align-middle">
              <br>
              <p> {{ fellows.bio | newline_to_br | markdownify }} </p>
          </div>
        </div>
        <br>
      {% endfor %} 
      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        {% for fellows in section.fellows2021 %}
        <div class="row h-100">
          <div class="col-md-4 text-center">
          <div class="member-box">
              <img class="img-fluid" src="{{ fellows.image }}" style="height:200px width:200px"/>
              <h3 class="h4 mb-2 mt-2">{{ fellows.title | newline_to_br | markdownify }}</h3>   
          </div>
        </div>
          <div class="my-auto col-sm-8 align-middle">
              <br>
              <p> {{ fellows.bio | newline_to_br | markdownify }} </p>
          </div>
        </div>
        <br>
      {% endfor %}
      </div>
    </div>
    <br>
    
  </div>
</section>
