<!-- no footer at all! -->
<footer class="bg-light py-5">
  <div class="container">
    <div class="text-center">
      <img src="../assets/img/NSF_4-Color_bitmap_Logo.png" width="100" height="100">
      <img src="../assets/img/ua_horiz_rgb_4.png" width="315" height="75">
    </div>

    <div class="small text-center text-muted">

      {{ site.data.footer.copyright }}
      &nbsp;
      {% for link in site.data.footer.links %}
          <a href="{{ link.url }}" {% assign new_window_is_not_empty = link.new_window | is_not_empty %}
          {% if new_window_is_not_empty %}target="_blank" rel="noopener"
          {% endif %}>{{ link.text }}</a>
      {% endfor %} 
    </div>
  </div>
</footer>
