<header id="masthead">
    <div class="header-container">
        <div class="header-row brand">
            <h1>
                <a href="{{ replace:'index.html','' }}" title="BRIDGES">
                    <img src="assets/images/Esg_logo.png" width="100" height="55" alt="UA" />
                    BRIDGES
                </a>
            </h1>
        </div>
        <nav class="header-row" id="nav">
            <div class="header-nav">
                <ul class="menu">
                    <li class="links-to-floor-li">
                        <a href="#about" data-id="1" class="active">About</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#team" data-id="2">Program Elements</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#projects" data-id="3">Faculty</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#publications" data-id="4">Apply</a>
                    </li>
                </ul>
            </div>
        </nav><!-- / #nav -->
        <div class="header-row copyright">
            <ul>
                <li>&copy; BRIDGES</li>
                <li>Maintained by: <a href="https://github.com/ecosystem-genomics">The BRIDGES Team</a></li>
            </ul>

            <p class="disclaimer">
                Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the University of Arizona.
            </p>

            <a href="#nav" class="hamburger tooltips" title="Menu">
                <span class="hamburger-box">
                    <span class="hamburger-inner">Menu</span>
                </span>
            </a>
        </div>
    </div>
</header><!-- / #masthead -->
