<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="row h-100">
      <div class="col-md-6 ">
          <a class="portfolio-box">
            <img class="img-fluid" src={{ section.image }} alt="{{ section.img_description }}" title="{{ section.img_description }}"/>   
          </a>  
        </div>
        <div class="my-auto col-md-6 {{ section.text_style | default: "text-muted" }}" >
        {{ section.text | newline_to_br | markdownify }}
        <div class="text-center">
        <a class="mt-3 btn btn-primary" target="_blank" href="{{ section.button_link}}" role="button">{{ section.button_text}}</a>
      </div>

        </div>
    </div>
    {% include actions.html actions=section.actions %}
  </div>
</section>